p
{
    color:white;
    text-align: center;
    
}
p
{
    font-size: 23pt;
    font-weight: 550;
    font-family: 'Amatic SC', cursive;
    
}
p
{
    text-shadow:2px 2px 4px black;
}